body {
	background-image: url("../imagenes/qlo01.jpg");
	background-attachment: fixed;
	background-size:100vw 100vh;
}

h1 {
	font-size: 6em;
	text-align: center;
	margin:0;
	color: #126f3a;
}

h2 {
	text-align: center;
	text-transform: capitalize;
	color:#fff;
	font-size: 3em;
}

h3 {
	font-size: 2.5em;
	text-align: center;
	width: 70%;
	color: #883434;
	margin: auto;
	margin-top: 5px;
}

a {
	color: #989856;
	text-decoration: none;
}

form {
	width: 45%;
	margin: auto;
	margin-top:20px;
	padding: 20px;
	background-color: rgba(0,0,0,0.4);
	border-radius:6px;
	box-sizing:border-box;
}

input {
	width: 100%;
	padding: 20px;
	margin-top:15px;
	font-size: 20px;
	box-sizing:border-box;
}

input:focus {
	border: 3px solid rgba(40,60,180,0.6);
}

#boton {
	background-color: transparent;
	border: 6px solid #454678;
	color:#fff;
}

#home {
	display: block;
	color: #126f3a;
	font-size: 35px;
	font-weight: bold;
	margin-top:60px;
	text-align: center;
}

.error {
	color:rgba(200,20,20,0.8);
}

@media (max-width:580px) {
	form {
		width: 100%;
	}
	
	h1 {
		font-size: 2.8em;
	}

	h4 {
		font-size: 1.6em;
		width: 85%;
	}

}
