body {
	background-image: url("../imagenes/img02.jpg");
	background-attachment: fixed;
	background-size:100vw 100vh;
}

a {
	color: #883434;
}

h1,h2 {
	color: #fff;
	color: #126f3a;
}

h2 {
	margin-top:10px;
	margin-bottom:20px;
}

h3 {
	color:#827f2a;
}

form {
	background-color: rgba(0,0,0,0.4);
	border-radius:7px;
	padding: 20px;
	box-sizing: border-box;
}
.error {
	color:rgba(200,20,20,0.8);
}

label {
	color: #fff;
}
