{% extends 'base.html' %}

{% block head %}
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1,0">
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/cuenta.css">
	<script src="/static/js/jquery.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	<script src="/static/js/cuenta.js"></script>

	<title>Informacion de Cuenta</title>
{% endblock %}

{% block content %}
	{% if cuenta %}
	{% if monedas["error"] %}	
	<header class="container">
		<div class="row">
			<div class="bg-danger col-xs-12">
				<h2>Error: <small>{{monedas["error_message"]}}</small></h2>
			</div>
		</div>
	</header>
	{% else %}
	<header class="container">
		<div class="row">
			<nav class="col-xs-12 navbar navbar-default navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-header">
							<span class="sr-only">Menu</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

						<span class="navbar-brand">
							<span class="glyphicon glyphicon-user"></span> {{ cuenta.getID() }}
						</span>
					</div>

					<div class="collapse navbar-collapsed" id="menu-header">
						<ul class="navbar navbar-nav">
							<li><a id="logout" href="/logout">
								<span class="glyphicon glyphicon-log-out"></span> Salir de mi cuenta
							</a></li>
							<li><a href="/chat">
								<span class="glyphicon glyphicon-inbox"></span> Entrar al chat
							</a></li>
							<li><a id="home" href="/">
								<span class="glyphicon glyphicon-home"></span> Pagina principal
							</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<section class="container">
		<article class="table-responsive">
			<table class="table table-bordered table-hover">
				<h2 class="text-center">Monedas: {{ nmonedas }}</h2>
				<thead>
					<tr class="info">
						<th>Valor</th>
						<th>Expiracion</th>
						<th>Tiempo activa</th>
						<th>ID</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="4" class="text-center">Saldo: <i>{{cuenta.getSaldo()["valor"]}}</i></td>
					</tr>
				</tfoot>
				<tbody>
					{% for moneda in monedas %}
					<tr class="moneda">
						<td>{{ moneda["valor"] }}</td>
						<td>{{ moneda["expiracion"] }}</td>
						<td>{{ moneda["tiempo_activa"] }}</td>
						<td>{{ moneda["ID"] }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</article>
	</section>

	<footer class="container">
		<div class="btn-group btn-group-justified">
			{% if page==1 %}
			<a class="btn btn-primary disabled">
			{% else %}
			<a class="btn btn-primary" href="{{ page-1 }}">
			{% endif %}
				<span class="glyphicon glyphicon-chevron-left"></span> Anterior
			</a>
			<a class="btn btn-default disabled text-center">{{ page }} / {{ npages }}</a>
			{% if last_page %}
			<a class="btn btn-primary disabled">
			{% else %}
			<a class="btn btn-primary" href="{{ page+1 }}">
			{% endif %}
				Siguiente <span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div>
	</footer>
	{% endif %}
	{% else %}
	<header class"container">
		<h1>La cuenta: {{ cuentaID }} no existe</h1>
		<p class="text-center">
			<a href="/"><span class="glyphicon glyphicon-home"></span> Pagina principal</a>
		</p>
	</header>
	{% endif %}
{% endblock %}
