{% extends 'base.html' %}

{% block head %}
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1,0">
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/static/css/cuentas.css" />
	<script src="/static/js/jquery.js"></script>
	<title>Lista de cuentas registradas</title>
{% endblock %}

{% block content %}
	{% if cuentas["error"] %}
	<header class="container">
		<div class="bg-danger">
			<h2>Error: <small>{{ cuentas["error_message"] }}</small></h2>
		</div>
	</header>
	{% else %}
	<header class="container">
		<h1>Informacion de todas las cuentas registradas</h1>
	</header>

	<section class="container">
		<article class="table-responsive">
			<table class="table table-bordered table-hover">
				<thead>
					<tr class="info">
						<th colspan="4">Lista de cuentas. Pagina {{ cuentas["page"] }}</th>
					</tr>
					<tr class="info">
						<th>ID</th>
						<th>Password</th>
						<th>Saldo</th>
						<th>Monedas</th>
					</tr>
				</thead>
				<tbody>
				{% for cuenta in cuentas["cuentas"] %}
					<tr>
						<td><a href="/admin/cuenta/{{ cuenta["id"] }}"> {{ cuenta["id"] }} </a></td>
						<td> {{ cuenta["password"] }} </td>
						<td> {{ cuenta["saldo"] }} </td>
						<td> {{ cuenta["monedas"] }} </td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		<article>
	</section>
	{% endif %}
{% endblock %}
