<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="/static/css/home.css" type="text/css" media="screen" charset="utf-8">
	<title>Pagina principal</title>
</head>
<body>
	<h1>Bienvenido a este banco</h1>
	{% if alert %}
		<p id="alert">{{alert}}</p>
	{% endif %}

	<nav>
		<a href="register">Registrate aqui</a>
		<a href="login">Inicia sesion aqui</a>
		<a href="mi_cuenta">Ve la informacion de tu cuenta aqui</a>
	</nav>
</body>
</html>
