{% extends 'base.html' %}

{% block head %}
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1,0">
	<title>404 - Pagina no encontrada</title>
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"/>
	<style>
		h1 {
			margin-bottom:30px;
		}
	
		body {
			background-color:#000;
			background-image:url('/static/imagenes/anime_girl01.png');
			background-attachment:fixed;
			background-size:100vw 100vh;
		}
		
		h1 {
			color:#fff;
		}

		footer {
			margin-top:300px;
		}
	</style>
{% endblock %}

{% block content %}
	<div class="container">
		<h1>El contenido que estabas buscando no existe</h1>

		<h3 class="text-center text-danger"> {{ page }} </h3>
	</div>

	<footer class="container">
		<p class="text-center">
			<a href="/"><span class="glyphicon glyphicon-home"></span> Pagina principal</a>
		</p>
	</footer>
{% endblock %}
